# Server configuration
PORT=9001
NODE_ENV=development

# CORS configuration
CORS_ORIGIN=*

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=taskflow
DATABASE_USER=user
DATABASE_PASSWORD=1234

